.historia,
.curiosidades,
.valores,
.galeria,
.episodios{
    padding:40px;
    text-align:center;
}

.curiosidades ul{
    list-style:none;
}

.curiosidades li{
    margin:10px 0;
    font-size:18px;
}

.valores{
    display:flex;
    justify-content:center;
    flex-wrap:wrap;
    gap:20px;
}

footer{
    background:#ff69b4;
    color:white;
    text-align:center;
    padding:25px;
    margin-top:30px;
}
